@use '../../mixins' as *;
@use '../../variables' as *;

.footer {
  color: black;

  &__container {
  }

  &__inner {
    padding: 22px 0;

    @include media('md') {
      padding: 12px 0;
    }
  }

  &__copyright {
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 32px;

    @include media('md') {
      margin-bottom: 64px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 100%;

    @include media('md') {
      width: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }

  &__nav-title {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;

    @include media('md') {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: black;
      margin-top: 8px;

      @include media('md') {
        margin-top: 6px;
      }
    }
  }

  &__nav-list {
  }

  &__nav-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include media('xl') {
      min-width: 300px;
    }
  }

  &__nav-item {
  }

  &__nav-link {
    font-size: 14px;

    @include media('md') {
      font-size: 16px;
    }
  }

  &__subscribtion {
    display: none;

    @include media('lg') {
      display: block;
      max-width: 512px;
    }

    @include media('xl') {
      max-width: 612px;
    }
  }

  &__subscribtion-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  &__subscribtion-form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
  }

  &__subscribtion-input {
    font-size: 16px;
    height: 32px;
    color: black;
    padding: 8px;
    @include border(1px, rgba(0, 0, 0, 0.16));

    &:focus {
      @include border(1px, rgba(0, 0, 0, 0.16));
    }

    &::placeholder {
      color: black;
    }

    @include media('lg') {
      min-width: 312px;
      padding: 16px 20px;
      height: 48px;
      padding: 16px 20px;
    }

    @include media('xl') {
      min-width: 468px;
    }
  }

  &__subscribtion-button {
    height: 32px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px;
    @include border(1px, black);

    @include media('lg') {
      flex-grow: 1;
      height: 48px;
      padding: 16px;
    }
  }

  &__subscription-agreement {
    font-size: 12px;

    a {
      padding-right: 2px;
      display: inline-block;
      text-decoration: underline;
    }
  }

  &__copyright {
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: center;
  color: black;
  font-size: 10px;

  @include media('lg') {
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }

  &__text {
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
