include ../../mixins/provider
include ../../mixins/cart/i-cart

-
  const cart = {
    name: 'Костюм Горка Зима Финл. ПК олива Костюм Горка Зима Финл. ПК олива Костюм Горка Зима Финл. ПК олива',
    price: '5 200',
    count: '9',
    totalPrice: '41 600',
    dimensionCount: 10,
  }

+cart(cart)
