include ../../mixins/provider
include ../../mixins/cart/t-cart

-
  const cart = {
    name: 'Мешочек ВК165',
    description: 'Микрофибра, Ювелирный, C логотипом',
    price: '260',
    count: '1',
    totalPrice: '260',
    economy: '33 890',
  }

+cart(cart)
