include ../card-button/i-card-button

mixin inventoryCard(card)
  a.card(href='#')
    div.card__image
      img(src="@img/i-theme/detail.png" alt="image")
    div.card__content
      p.card__content-title= card.title
      h2.card__content-subtitle= card.subtitle
      div.card__footer
        div.card__actions
          +cardButton('опт', '7 712', 'primary', 'md')
          +cardButton('розница', '7 712', 'secondary', 'md')
