mixin inventoryCard(card)
  a.card(href='#')
    div.card__image
      img(src="@img/o-theme/catalog-slide.png" alt="image")
    div.card-content
      h3.card-content__price-wrapper
        span.card-content__price.card-content__price_old= card.oldPrice
        span.card-content__price.card-content__price_new= card.newPrice
      p.card-content__subtitle= card.title
