@use '../../mixins' as *;
@use '../../variables' as *;

.history {
  &__top {
    margin-bottom: 8px;
    text-align: left;
  }

  &__title {
    @include media('lg') {
      text-align: left;
    }
  }

  &__subtitle {
    margin-bottom: 8px;

    @include media('lg') {
      text-align: left;
    }
  }

  &__slider {
  }

  &__slider-track {
    overflow: visible;

    @include media('lg') {
      overflow: hidden;
    }
  }

  &__slider-list {
  }

  &__slide {
  }
}

.card-history {
  width: 108px;
  padding: 16px 8px 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.08);

  &.in_progress {
    @include border(1px, rgba(0, 0, 0, 0.08));
  }

  @include media('md') {
    width: calc((100vw / 4 - 4px * 3));
  }

  @include media('lg') {
    padding: 30px 12px 12px;
    width: calc((100vw / 4 - 4px * 3 + 1px));
  }

  &__header {
  }

  &__title {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    text-align: center;

    @include media('lg') {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;

    @include media('lg') {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &__sep {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.08);

    &_sm {
      width: 16px;
      margin: 8px auto;
    }

    &_md {
      width: 100%;
      margin: 12px auto 8px;

      @include media('lg') {
        margin: 24px auto 8px;
      }
    }
  }

  &__content {
    margin-bottom: 4px;
  }

  &__price {
    text-align: center;
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;

    @include media('lg') {
      font-weight: 700;
      font-size: 20px;
    }

    span {
      font-size: 14px;

      @include media('lg') {
        font-size: 24px;
      }
    }
  }

  &__count-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);

    @include media('lg') {
      flex-direction: row;
      justify-content: center;
      font-size: 14px;
      gap: 4px;
    }
  }

  &__count-row {
  }

  &__footer {
  }

  &__status {
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;

    @include media('lg') {
      font-size: 16px;
    }

    .in_progress & {
      color: #d10c54;
    }

    .done & {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
