@use '../../mixins' as *;
@use '../../variables' as *;

.history {
  margin-bottom: 8px;

  @include media('lg') {
    margin-bottom: 14px;
  }

  @include media('xl') {
    margin-bottom: 16px;
  }

  &__top {
    margin-bottom: 8px;
    text-align: left;
  }

  &__title {
    @include media('lg') {
      text-align: left;
    }
  }

  &__subtitle {
    @include media('lg') {
      text-align: left;
    }
  }

  &__slider {
  }

  &__slider-track {
    overflow: visible;

    @include media('lg') {
      overflow: hidden;
    }
  }

  &__slider-list {
  }

  &__slide {
  }
}

.card-history {
  width: 108px;
  padding: 16px 8px 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--light);

  &.in_progress {
    @include border(1px, #d5cbbc);
  }

  @include media('lg') {
    padding: 20px 12px 8px;
  }

  &__header {
  }

  &__title {
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--secondary);
    margin-bottom: 3px;
    text-align: center;

    @include media('lg') {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;

    @include media('lg') {
      font-size: 16px;
    }
  }

  &__sep {
    height: 1px;
    background-color: #a9987a66;

    &_sm {
      width: 16px;
      margin: 8px auto;
    }

    &_md {
      width: 100%;
      margin: 12px auto 8px;

      @include media('lg') {
        margin: 24px auto 8px;
      }
    }
  }

  &__content {
    margin-bottom: 4px;
  }

  &__price {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--secondary);

    @include media('lg') {
      font-size: 18px;
    }

    span {
      font-size: 16px;

      @include media('lg') {
        font-size: 24px;
      }
    }
  }

  &__count-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;

    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--primary);

    @include media('lg') {
      flex-direction: row;
      justify-content: center;
      font-size: 16px;
      gap: 4px;
    }
  }

  &__count-row {
  }

  &__footer {
  }

  &__status {
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;

    @include media('lg') {
      font-size: 16px;
    }

    .in_progress & {
      color: var(--secondary);
    }

    .done & {
      color: var(--primary);
    }
  }
}
