mixin cardButton(text, price, type = 'primary', size = 'sm')
  button.card-button(class=size)
    div.card-button__inner(class=type)
      if text
        = text
      span
        = price
      | руб