extends ../../layouts/themes/s-layout

include ../../mixins/provider

block styles
  link(rel="stylesheet" href="../../styles/themes/s-theme.css")
  link(rel="stylesheet" href="../../styles/themes/s-typography.css")
  link(rel="stylesheet" href="../../styles/components/header/s-header.css")
  link(rel="stylesheet" href="../../styles/components/header-modal/s-header-modal.css")
  link(rel="stylesheet" href="../../styles/components/footer/s-footer.css")
  link(rel="stylesheet" href="../../styles/components/card-button/s-card-button.css")
  link(rel="stylesheet" href="../../styles/components/breadcrumbs/s-breadcrumbs.css")
  link(rel="stylesheet" href="../../styles/components/pagination/s-pagination.css")
  link(rel="stylesheet" href="../../styles/components/agreement/s-page.css")

block main
  - const path = ['Магазин мужской одежды', 'Пользовательское соглашение'];
  div.agreement
    div.agreement__container.container
      div.agreement__wrapper
        div.agreement__top
          +breadcrumbs(path)
          h1.agreement__title.page-title Пользовательское соглашение
        div.agreement__content
          p
            | Я, субъект персональных данных, в соответствии с Федеральным законом от 27 июля 2006 года № 152 «О
            | персональных данных» предоставляю ООО «Стайер Текс» <i>(далее - Оператор)</i>, ИНН 3701047997, ОГРН
            | 1133701000014, расположенному по адресу 155250, Ивановская область, г.Родники, ул. Советская, д.4а, согласие
            | на обработку персональных данных, указанных мной в форме веб-чата и/или в форме заказа обратного звонка на
            | сайте в сети «Интернет», владельцем которого является Оператор.
          ol
            li
              | Состав предоставляемых мной персональных данных, в зависимости от документа
              i (анкета, заявление и т.п.)
              | включает, но не ограничиваются следующими: ФИО, дата рождения, пол, паспортные данные
              i (серия, номер, кем и когда выдан)
              | , адрес регистрации или пребывания 
              i (фактический адрес проживания)
              |, номер контактного телефона, адрес электронной почты.
            li
              | Состав предоставляемых мной персональных данных, в зависимости от документа 
              i (анкета, заявление и т.п.)
              | включает, но не ограничиваются следующими: ФИО, дата рождения, пол, паспортные данные
              i (серия, номер, кем и когда выдан)
              | , адрес регистрации или пребывания 
              i (фактический адрес проживания)
              | , номер контактного телефона, адрес электронной почты.
            li 
              | Согласие предоставляется на совершение следующих действий 
              i (операций)
              | с указанными в настоящем согласии персональными данными: сбор, систематизацию, накопление, хранение, уточнение 
              i (обновление, изменение)
              |, использование, передачу 
              i (предоставление, доступ)
              | , блокирование, удаление, уничтожение, осуществляемых как с использованием средств автоматизации 
              i (автоматизированная обработка)
              | , так и без использования таких средств 
              i (неавтоматизированная обработка)
              | .
            li
              | Я понимаю и соглашаюсь с тем, что предоставление Оператору какой-либо информации о себе, не являющейся
              | контактной и не относящейся к целям настоящего согласия, а равно предоставление информации, относящейся к
              | государственной, банковской и/или коммерческой тайне, информации о расовой и/или национальной
              | принадлежности, политических взглядах, религиозных или философских убеждениях, состоянии здоровья,
              | интимной жизни запрещено.
            li
              | В случае принятия мной решения о предоставлении Оператору какой-либо информации 
              i (каких-либо данных)
              | , я обязуюсь предоставлять исключительно достоверную и актуальную информацию и не вправе вводить
              | Оператора в заблуждение в отношении своей личности, сообщать ложную или недостоверную информацию о себе.
            li
              | Я понимаю и соглашаюсь с тем, что Оператор не проверяет достоверность персональных данных, предоставляемых
              | мной, и не имеет возможности оценивать мою дееспособность и исходит из того, что я предоставляю
              | достоверные персональные данные и поддерживаю такие данные в актуальном состоянии.
            li
              | Согласие действует по достижении целей обработки или в случае утраты необходимости в достижении этих
              | целей, если иное не предусмотрено федеральным законом.
            li Согласие может быть отозвано мною в любое время на основании моего письменного заявления.