extends ../../layouts/themes/s-layout

include ../../mixins/category/s-category-section

block styles
  link(rel="stylesheet" href="../../styles/themes/s-theme.css")
  link(rel="stylesheet" href="../../styles/themes/s-typography.css")
  link(rel="stylesheet" href="../../styles/components/header/s-header.css")
  link(rel="stylesheet" href="../../styles/components/footer/s-footer.css")
  link(rel="stylesheet" href="../../styles/components/card-button/s-card-button.css")
  link(rel="stylesheet" href="../../styles/components/catalog-slider/s-catalog-slider.css")
  link(rel="stylesheet" href="../../styles/components/home/s-main-banner.css")
  link(rel="stylesheet" href="../../styles/components/home/s-questions.css")
  link(rel="stylesheet" href="../../styles/components/home/s-hits-section.css")
  link(rel="stylesheet" href="../../styles/components/home/s-category.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css")

block scripts
  script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js")
  script(src="../../scripts/modules/mainBannerSlider.js")
  script(src="../../scripts/modules/catalogSlider.js")
  script(src="../../scripts/modules/categorySlider.js")
  script(src="../../scripts/modules/question-input.js")

block main
  -
    const tags = [
      'одежда для охоты',
      'для рыбалки с берега, на месте',
      'много хожу',
      'рыбалка с лодки или катера',
      'подобрать костюмы',
      'выгодные предложения',
    ]
  include ../../components/home/s-main-banner
  include ../../components/home/s-questions
  include ../../components/home/s-hits-section
  +categorySection('left', 'Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.', tags)
  +categorySection('right', 'Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.', tags)
  +categorySection('left', 'Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.', tags)
  +categorySection('right', 'Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.', tags)
  include ../../components/home/category/s-category-about

