include ../../card-button/s-card-button

mixin cardList(cards)
  div.srp__card-list
    each card of cards
      div.card
        div.card__image
          img(src="@img/s-theme/inventory/card.png" alt="image")
        div.card__content
          h2.card__title= card.title
          p.card__subtitle= card.subtitle
          div.card__description-wrapper
            each description in card.description
              div.card__description
                = description
                div.card__description-icon
                  +icon('s-arrow-down')
          div.card__price-wrapper
            +cardButton('розница', card.price1, 'secondary')
            +cardButton('опт', card.price2)
