@use '../../mixins' as *;
@use '../../variables' as *;

.order-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 10;

  @include media('lg') {
    position: static;
    z-index: 0;
    background-color: transparent;
  }

  &__container {
    @include media('lg') {
      padding: 0;
      margin-top: -24px;
    }
  }

  &__wrapper {
    padding: 8px 0;

    @include media('lg') {
      padding: 0;
    }
  }

  &__checkbox {
    margin-bottom: 12px;

    @include media('lg') {
      margin-bottom: 16px;
    }
  }

  &__submit-button {
    height: 48px;
    border-radius: 32px;
    background-color: black;
    width: 100%;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);

    @include media('xl') {
      font-size: 20px;
      height: 64px;
    }
  }
}
