@use '../../mixins' as *;
@use '../../variables' as *;

.order {
  padding-top: 14px;
  padding-bottom: var(--order-footer-height);

  @include media('lg') {
    padding-bottom: 16px;
  }

  &__container {
  }

  &__wrapper {
    @include media('lg') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 32px;
    }
  }

  &__top {
    margin-bottom: 18px;

    @include media('lg') {
      margin-bottom: 42px;
      grid-column: 1 / span 2;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__form {
    display: contents;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 24px;

    @include media('md') {
      width: calc(50vw - 16px);
    }

    @include media('lg') {
      gap: 40px;
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__section {
    margin-bottom: 4px;

    @include media('lg') {
      margin-bottom: 8px;
      overflow: hidden;
    }
  }
}

.section-order {
  &.transformed {
    @include media('lg') {
      position: relative;
      top: -6px;
    }
  }

  &__title {
    font-family: var(--font-secondary);
    font-size: 13px;
    line-height: 24px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__top {
    margin-bottom: 7px;

    @include media('lg') {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }

  &__change-order {
    height: 28px;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__description {
    font-family: var(--font-secondary);
    font-size: 13px;
    line-height: 16px;
  }
}

.footer {
  display: none;
}
