@use '../../mixins' as *;
@use '../../variables' as *;

.category-section {
  position: relative;
  display: flex;
  flex-direction: column;

  @include media('lg') {
    flex-direction: row;

    &.right {
      flex-direction: row-reverse;
    }
  }

  &__image {
    position: relative;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 8px;
      right: 8px;
      transform: translateY(-50%);
      height: 1px;
      background-color: var(--white);
      z-index: 100;

      @include media('lg') {
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.24);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px 8px 48px;
    min-height: auto !important;

    @include media('md') {
      padding: 32px 8px 72px;
    }

    @include media('lg') {
      padding: 0 9vw;
    }
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-align: left;
    width: 100%;

    @include media('md') {
      text-align: center;
    }

    @include media('lg') {
      font-size: 32px;
      margin-bottom: 8px;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 8px;
    text-indent: 36px;

    @include media('md') {
      text-align: center;
    }

    @include media('lg') {
      margin-bottom: 14px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    align-self: flex-start;
    padding-left: 8px;
    margin-bottom: 29px;

    @include media('lg') {
      padding-left: 0;
      align-self: unset;
      margin-bottom: 60px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 13px;
    line-height: 16px;

    @include media('lg') {
      font-size: 16px;
      line-height: 20px;
    }

    &::before {
      content: '';
      width: 16px;
      height: 1px;
      background-color: black;

      @include media('lg') {
        width: 24px;
      }
    }

    @include media('lg') {
      gap: 12px;
    }
  }

  &__icon {
    position: relative;
    aspect-ratio: 235 / 194;
    width: 140px;

    @include media('lg') {
      width: 235px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.category-section-block {
  position: relative;
  min-height: 512px;
  width: 100%;
  flex: 1 1 50%;
  overflow: visible;

  @include media('lg') {
    aspect-ratio: 1 / 1;
  }
}

.category-about {
  position: relative;
  background-color: black;

  display: flex;
  flex-direction: column;

  @include media('lg') {
    padding: 232px 0 265px;
    min-height: 100svh;

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.24);
      z-index: 100;
    }
  }

  &__image {
    position: relative;
    height: 360px;

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      transform: translateY(50%);
      background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.4));
      filter: blur(12px);
      pointer-events: none;
    }

    @include media('lg') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::before {
        content: none;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-wrapper {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media('lg') {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__placeholder {
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 48px;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 8px;

    @include media('md') {
      font-size: 24px;
    }

    @include media('lg') {
      font-size: 28px;
    }

    @include media('xl') {
      font-size: 32px;
    }
  }

  &__text-wrapper {
    margin-bottom: 16px;

    @include media('lg') {
      margin-bottom: 24px;
    }

    > p {
      &:first-child {
        text-indent: 37px;
      }

      @include media('lg') {
        text-indent: 0;
      }
    }
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    color: var(--white);

    @include media('lg') {
      font-size: 16px;
      line-height: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &.padding {
      padding-left: 10vw;

      @include media('lg') {
        padding-left: 6vw;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding-left: 10vw;

    @include media('lg') {
      flex-direction: row;
      align-self: flex-start;
      padding-left: 6vw;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;

    font-size: 12px;
    height: 32px;
    padding: 4px 8px;
    text-transform: uppercase;
    color: var(--white);

    @include border(1px, var(--white));

    @include media('lg') {
      width: auto;
      font-size: 16px;
      padding: 6px 12px;
      height: 40px;
    }
  }
}
