@use '../../mixins' as *;
@use '../../variables' as *;

.main-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 478px;
  margin-bottom: 24px;
  background-color: black;

  display: grid;
  grid-template-rows: 1fr 1fr;

  @include media('lg') {
    grid-template-rows: auto;
    margin-top: calc(var(--header-height) * -1);
    height: 100svh;
    margin-bottom: 32px;
    justify-content: flex-start;
  }

  @include media('lg') {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 42px;
    justify-content: center;
    align-items: center;
  }

  @include media('xl') {
    gap: 16px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 130px);
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 56%;
      width: 100%;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }

    @include media('lg') {
      height: 100%;

      &::after {
        content: none;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    position: relative;
    z-index: 10;

    @include media('md') {
      padding: 0 12vw;
    }

    @include media('lg') {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  &__description-inner {
    position: relative;
    color: var(--white);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 30;
    padding: 0 12px;

    @include media('md') {
      padding-left: 16px;
      padding-right: 12px;
      align-items: center;
    }

    @include media('lg') {
      margin-right: -12px;
    }

    @include media('xl') {
      padding: 0 16px;
      margin-right: -16px;
    }
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-size: 24px;
    margin-bottom: 16px;

    @include media('md') {
      font-size: 26px;
      margin-bottom: 24px;
    }

    @include media('xl') {
      font-size: 48px;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    @include media('md') {
      flex-direction: row;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    @include border(1px, var(--white));

    @include media('md') {
      padding: 6px 12px;
    }

    @include media('xl') {
      font-size: 20px;
      padding: 12px 16px;
      height: 40px;
    }
  }
}
