include ../../mixins/provider

- const filtersSelects = ['Цена', 'Размер', 'Размер', 'Размер']

div.inventory__filters.filters
  div.filters__wrapper
    div.filters__row.full-width
      include ./o-filters-modal
      include ./o-filters-select
      button.filters__select.mobile
        span Бренд
        +icon('s-arrow-down')
    div.filters__row
      each filter in filtersSelects
        button.filters__select.mobile
          span= filter
          +icon('s-arrow-down')
      button.filters__button-all Смотреть все