extends ../root-layout

block styles
  block styles

block content
  div.layout
    block header
      include ../../components/header/i-header
    main(data-layout-part='main')
      block main
    include ../../modules/stayertex/header-modal
    include ../../components/footer/i-footer

block scripts
  block scripts
