extends ../root-layout

block styles
  block styles

block content
  div.layout
    include ../../components/header/s-header
    main(data-layout-part='main')
      block main
    include ../../components/header-modal/s-header-modal
    include ../../components/footer/s-footer
    include ../../components/add-cart-modal/s-add-cart-modal

block scripts
  block scripts
