extends ../root-layout

block styles
  block styles

block content
  div.layout
    block header
      include ../../components/header/t-header
    main(data-layout-part='main')
      block main
    include ../../modules/stayertex/header-modal
    block footer
      include ../../components/footer/t-footer

block scripts
  block scripts
