include ../../mixins/provider

-
  const questions = [
    {
      question: ' Смогу ли я поехать в этом  костюме в тайгу в январе?',
      answer:
        'Да, костюм рассчитан на суровые зимние условия. Благодаря плотному утеплителю  и ветрозащитной ткани он подойдёт для экспедиций, охоты и работы в тайге даже при температуре до -30 °C. Главное — правильно подобрать термобельё.',
    },
    {
      question: ' Смогу ли я поехать в этом  костюме в тайгу в январе?',
      answer:
        'Да, костюм рассчитан на суровые зимние условия. Благодаря плотному утеплителю  и ветрозащитной ткани он подойдёт для экспедиций, охоты и работы в тайге даже при температуре до -30 °C. Главное — правильно подобрать термобельё.',
    },
    {
      question: ' Смогу ли я поехать в этом  костюме в тайгу в январе?',
      answer:
        'Да, костюм рассчитан на суровые зимние условия. Благодаря плотному утеплителю  и ветрозащитной ткани он подойдёт для экспедиций, охоты и работы в тайге даже при температуре до -30 °C. Главное — правильно подобрать термобельё.',
    },
    {
      question: ' Смогу ли я поехать в этом  костюме в тайгу в январе?',
      answer:
        'Да, костюм рассчитан на суровые зимние условия. Благодаря плотному утеплителю  и ветрозащитной ткани он подойдёт для экспедиций, охоты и работы в тайге даже при температуре до -30 °C. Главное — правильно подобрать термобельё.',
    },
    {
      question: ' Смогу ли я поехать в этом  костюме в тайгу в январе?',
      answer:
        'Да, костюм рассчитан на суровые зимние условия. Благодаря плотному утеплителю  и ветрозащитной ткани он подойдёт для экспедиций, охоты и работы в тайге даже при температуре до -30 °C. Главное — правильно подобрать термобельё.',
    },
    {
      question: ' Смогу ли я поехать в этом  костюме в тайгу в январе?',
      answer:
        'Да, костюм рассчитан на суровые зимние условия. Благодаря плотному утеплителю  и ветрозащитной ткани он подойдёт для экспедиций, охоты и работы в тайге даже при температуре до -30 °C. Главное — правильно подобрать термобельё.',
    },
  ];

div.detail__questions.questions
  h2.questions__title.title-block Вопросы о товаре
  p.questions__subtitle.subtitle-block Текст комментария от нейросети для расшифровки
  div.questions__select-wrapper
    div.questions__select.select-questions
      button.select-questions__trigger
        span Задайте свой интересующий вопрос
        +icon('s-arrow-down')
  div.questions__questions.splide(data-component='question-slider')
    div.splide__track
      div.splide__list
        each question in questions
          div.question__question.splide__slide.question
            div.question__question
              span Вопрос:
              = question.question
            div.question__answer= question.answer
            div.question__actions
              button.question__action
                +icon('s-like')
              button.question__action
                +icon('s-dislike')
              div.question__actions-sep
              button.question__action
                +icon('s-comment')
                span уточнить