include ../../mixins/provider

-
  const detailCategories = [
    'Мешочек',
    'Белый',
    'Микрофибра',
    'Ювелирный',
    'Под заказ',
    'С Логотипом',
  ];

div.detail__details.details
  div.details__wrapper
    div.details__title-wrapper.page-title
      h1.details__title Мешочек ВК160
      h2.details__title Цена договорная
    p.details__description.page-description Классическое сочетание формы и цвета созданное в бумаге. Создание индивидуальной коллекции по размерам клиента. Смена текстуры бумаги и перед Вами абсолютно новый продукт. Размер: 5,0 х 5,0 х 3,0 см. 
    div.details__categories
      each category in detailCategories
        a.details__category(href='#')= category
    div.sticky-button(data-component='sticky-button')
      div.sticky-button__container.container
        button.add-cart-button В Корзину
        button.add-cart-button.outlined ИндивидУальный заказ
    div.details__add-cart(data-button-position)
      button.add-cart-button В Корзину
      button.add-cart-button.outlined ИндивидУальный заказ