@use '../mixins' as *;
@use '../variables' as *;

.blog-archive {
  padding: 14px 0 40px;

  @include media('lg') {
    padding: 20px 0 74px;
  }

  &__container {
  }

  &__wrapper {
  }

  &__top {
    margin-bottom: 16px;
  }

  &__title {
  }

  &__card-wrapper {
    margin-bottom: 50px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--light-2);

    @include media('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.blog-archive-card {
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--light-2);
  display: grid;
  grid-template-rows: auto 1fr;

  &__header {
    padding: 8px 0;
    margin: 0 8px;
    border-bottom: 1px solid var(--light-2);
  }

  &__label {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--primary);

    @include media('lg') {
      font-size: 16px;
    }

    span {
      font-weight: 900;
      font-style: italic;
    }
  }

  &__content {
    padding: 16px 16px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media('lg') {
      padding: 20px 32px 0;
    }

    &.empty-image {
      padding-top: 0;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary);
    margin-bottom: 8px;

    @include media('lg') {
      font-size: 24px;
      margin-bottom: 32px;
    }

    @include media('xl') {
      font-size: 36px;
      margin-bottom: 32px;
    }

    .empty-image & {
      margin-bottom: 0;
    }
  }

  &__image {
    position: relative;
    aspect-ratio: 136 / 198;
    width: 100%;

    @include media('lg') {
      aspect-ratio: 236 / 314;
    }

    @include media('xl') {
      aspect-ratio: 340 / 472;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
