$adaptive-sm: 375;
$adaptive-md: 768;
$adaptive-lg: 1180;
$adaptive-xl: 1440;
$adaptive-xxl: 1920;

$media-sm: 375px;
$media-md: 768px;
$media-lg: 1180px;
$media-xl: 1440px;
$media-xxl: 1920px;

$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
