@use './mixins' as *;
@use './variables' as *;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.roadmap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
  }

  &__wrapper {
  }

  &__cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 24px;

    @include media('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__pages {
  }

  &__page {
  }
}
