-
  const slides = [
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
    {
      count: '12 шт',
    },
  ];

div.splide.order-slider(data-component='order-slider')
  div.splide__track.order-slider__wrapper
    div.splide__list.order-slider__list
      each slide in slides
        div.splide__slide.order-slider__slide
          div.order-slider__image
            img(src="@img/s-theme/home/hits/hits-slide-image.png", alt="image")
          div.order-slider__count
            = slide.count
            span .