include ../../mixins/card-button/i-card-button

a.splide__slide.catalog-slider__slide.catalog-slide(href='#')
  div.catalog-slide__inner
    div.catalog-slide__image
      img(src="@img/o-theme/catalog-slide.png" alt="image")
    div.card-content
      h3.card-content__price-wrapper
        span.card-content__price.card-content__price_old 7 712 руб
        span.card-content__price.card-content__price_new 500 руб
      p.card-content__subtitle(href='#') Босоножки SEBASTIAN Босоножки SEBASTIAN Босоножки SEBASTIAN