div.splide.catalog-slider(data-component='catalog-slider' data-size='i')
  div.splide__track.catalog-slider__track
    ul.splide__list.catalog-slider__list
      each slide in [0, 1, 2, 3, 4, 5, 6, 7]
        include ./o-catalog-slide