include ../../mixins/card-button/i-card-button

div.splide__slide.catalog-slider__slide.catalog-slide
  div.catalog-slide__inner
    div.catalog-slide__image
      img(src="@img/o-theme/catalog-slide.png" alt="image")
    div.card-content
      h3.card-content__title Мужские Кроссовки
      a.card-content__subtitle(href='#') Смотреть каталог