include ../../mixins/card-button/s-card-button

div.splide__slide.catalog-slider__slide.catalog-slide
  div.catalog-slide__inner
    div.catalog-slide__image
      img(src="@img/s-theme/home/hits/hits-slide-image.png" alt="image")
    div.card-content.md
      p.card-content__title Финляндия
      h2.card-content__subtitle Костюм Горка Зима Финл. ПК #309
      p.card-content__description Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая
      div.catalog-slide__action-wrapper
        +cardButton('опт', '7 712')