div.catalog-slider-section
  div.catalog-slider-section__content
    h2.catalog-slider-section__title.title-block Одежда для рыбалки
    p.catalog-slider-section__subtitle.subtitle-block Текст комментария от нейросети для расшифровки
    include ./s-catalog-slider