a.splide__slide.catalog-slider__slide.catalog-slide(href='#')
  div.catalog-slide__inner
    div.catalog-slide__image
      img(src="@img/t-theme/slider/slide.png" alt="image")
    div.card-content
      p.card-content__title 260 ₽
      h2.card-content__subtitle Мешочек ВК165
      p.card-content__description Микрофибра, Ювелирный, C логотипом