:root {
  --media-sm: 375px;
  --media-md: 768px;
  --media-lg: 1180px;
  --media-xl: 1440px;
  --media-xxl: 1920px;

  --size-xs: 24px;
  --size-sm: 28px;
  --size-md: 32px;
  --size-lg: 40px;
  --size-lg: 56px;
  --size-xl: 64px;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 64px;

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
}
