@use '../../mixins' as *;
@use '../../variables' as *;

.card {
  width: 100%;
  min-height: 256px;
  background-color: transparent;
  border-radius: 8px;
  @include border(1px, var(--light-2));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &.cols-1 {
    grid-column: span 1;
  }

  &.cols-2 {
    grid-column: span 2;
  }

  @include media('xl') {
    min-height: 480px;
  }

  &__content {
    text-align: center;
  }

  &__title {
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--secondary);

    @include media('xl') {
      font-size: 36px;
    }
  }

  &__link {
    font-weight: 900;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--primary);
    text-decoration: underline;

    @include media('xl') {
      font-size: 16px;
    }
  }
}
