@use '../../mixins' as *;
@use '../../variables' as *;

.services-title {
  font-weight: 900;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--primary);
}

.services {
  padding: 14px 0 48px;

  @include media('lg') {
    padding: 20px 0 76px;
  }

  &__container {
  }

  &__wrapper {
  }

  &__top {
    margin-bottom: 18px;
  }

  &__title {
  }

  &__header {
    margin-bottom: 19px;
  }

  &__cards-wrapper {
  }

  &__cards-title {
    margin-bottom: 5px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;

    @include media('lg') {
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }
  }
}

.header-services {
  &__title {
    margin-bottom: 5px;
  }
}

.services-header {
  &__link-wrapper {
    @include media('lg') {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: 16px;
    height: 32px;

    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--light);

    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--secondary);

    @include media('xl') {
      height: 40px;
      font-size: 16px;
    }

    svg {
      width: 10px;
      height: 6px;
      color: var(--secondary);

      @include media('xl') {
        width: 12px;
        height: 8px;
      }
    }
  }
}
