@use '../../mixins' as *;
@use '../../variables' as *;

.contact-accordion {
  &__trigger {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    color: black;

    @include media('lg') {
      height: 56px;
      font-size: 16px;
      padding: 8px 24px;
    }

    .open & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin: 0;
    }
  }

  &__trigger-icon {
    .open & {
      transform: rotate(-90deg);
    }
  }

  &__body {
    display: none;
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0 12px 12px;

    .open & {
      display: flex;
      flex-direction: column;
      gap: 4px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &__address {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 12px;
    margin-right: 36px;

    span {
      font-style: italic;
    }
  }

  &__phone {
    height: 32px;
    padding: 8px 10px;
    background-color: transparent;
    @include border(1px, rgba(0, 0, 0, 0.4));
    border-radius: 8px;

    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__map-frame {
    position: relative;
    aspect-ratio: 335 / 192;
    border-radius: 8px;
    overflow: hidden;
  }
}
