@use '../../mixins' as *;
@use '../../variables' as *;

.contact {
  padding: 14px 0 38px;

  @include media('lg') {
    padding: 20px 0 76px;
  }

  &__container {
  }

  &__wrapper {
  }

  &__top {
    margin-bottom: 18px;
  }

  &__cols {
    @include media('lg') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;

      > * {
        &:first-child {
          grid-column-start: 2;
          grid-column-end: 2;
          grid-row: 1;
        }

        &:last-child {
          grid-row: 1;
          grid-column-start: 1;
          grid-column-end: 1;
        }
      }
    }
  }

  &__title {
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 20px;

    @include media('lg') {
      margin: 0;
    }
  }

  &__details {
  }

  &__sticky-section {
    > * {
      @include media('lg') {
        position: sticky;
        top: var(--header-height);
      }
    }
  }
}

.details-contact {
  &__title {
    font-weight: 900;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 5px;
  }

  &__body {
    font-family: var(--font-secondary);
    padding: 0 12px;
    font-size: 12px;
    color: var(--secondary);
    font-weight: 500;

    @include media('lg') {
      padding: 0;
    }
  }
}
