@use '../../mixins' as *;
@use '../../variables' as *;

.contact-section {
  &__title {
    font-family: var(--font-secondary);
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 4px;

    @include media('lg') {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__accordions {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;

    @include media('lg') {
      gap: 8px;
      margin: 0;
    }
  }

  &__checkbox {
    margin-bottom: 12px;
  }

  &__submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: black;
    width: 100%;
    height: 48px;

    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;

    @include media('lg') {
      font-size: 20px;
      height: 64px;
    }
  }
}
