@use '../../mixins' as *;
@use '../../variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 60;

  &.modal-open {
    overflow: visible;
  }

  &__container {
  }

  &__wrapper {
    position: relative;
    padding: 8px 0;
    padding-right: 0px;

    display: flex;
    align-items: center;
    gap: 4px;

    @include media('lg') {
      align-items: flex-start;
    }

    @include media('xl') {
      padding: 16px 0;
      gap: 16px;
    }
  }

  &__mega-menu {
  }

  &__logo {
    position: relative;
    flex-shrink: 0;

    width: 104px;
    height: 62px;

    @include media('md') {
      width: 122px;
      height: 70px;
    }

    @include media('xl') {
      width: 166px;
      height: 88px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__separator {
    display: none;
    flex-shrink: 0;

    background-color: var(--light-2);
    width: 1px;

    @include media('lg') {
      height: 68px;
    }

    @include media('xl') {
      height: 88px;
    }

    &_outer {
      @include media('xl') {
        display: block;
      }
    }

    &_inner {
      @include media('lg') {
        display: block;
      }
    }
  }

  &__blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include media('lg') {
      align-items: flex-start;
      flex-direction: row-reverse;
      gap: 16px;
    }
  }

  &__top-block {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 8px;
    padding-right: 4px;

    @include media('md') {
      padding-right: 8px;
    }

    @include media('lg') {
      padding: 0;
      flex-grow: 1;
      gap: 16px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;

    @include media('lg') {
      align-self: flex-start;
    }
  }

  &__action {
    color: var(--primary);

    @include media('lg') {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      border-radius: 8px;
      @include border(1px, var(--light-2));
    }

    @include media('xl') {
      height: 40px;
      width: 40px;
    }

    svg {
      width: 20px;
      height: 20px;

      @include media('lg') {
        width: 16px;
        height: 16px;
      }

      @include media('xl') {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__action-modal {
    position: relative;

    &:hover {
      [header-cart-modal] {
        display: block;
      }
    }
  }

  &__action-budge {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
  }

  &__bottom-block {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 4px;
  }

  &__info {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;

    @include media('lg') {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media('xl') {
      gap: 8px;
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow-x: auto;

    @include hideScrollbar();

    @include media('lg') {
      overflow: auto;
    }

    @include media('xl') {
      gap: 8px;
    }

    .modal-open & {
      display: none;
    }
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    white-space: nowrap;
    @include border(1px, var(--light-2));

    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--secondary);

    transition: color 0.3s ease-in-out;

    &.open {
      @include border(1px, var(--primary));
    }

    &:hover {
      color: var(--primary);
    }

    &.active {
      @include border(1px, var(--primary));
      background-color: var(--primary);
      color: var(--white);
    }

    @include media('md') {
      font-size: 13px;
      height: 32px;
    }

    @include media('lg') {
      flex-shrink: 0;
      padding: 8px calc(8px + 2px);

      color: var(--secondary);
      transition: color 0.3s ease-in-out;
    }

    @include media('xl') {
      padding: 12px;
      font-size: 16px;
      height: 40px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 4px;

    @include media('xl') {
      gap: 8px;
    }
  }

  &__contact {
    display: none;

    @include media('lg') {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--light);
      padding: 0 calc(8px + 2px);
      height: 32px;
    }

    @include media('xl') {
      height: 40px;
    }
  }

  &__contact-icons {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__contact-icon {
    color: var(--primary);

    svg {
      width: 16px;
      height: 16px;

      @include media('xl') {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__contact-phone {
    font-weight: 900;
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--secondary);
    white-space: nowrap;

    @include media('xl') {
      font-size: 18px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-input {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @include media('md') {
    font-size: 13px;
  }

  @include media('xl') {
    font-size: 14px;
  }
}

.input-header {
  position: relative;
  padding: 6px;
  border-radius: 8px;
  background-color: var(--light);
  flex-grow: 1;

  @include media('md') {
    padding: 8px;
  }

  @include media('lg') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }

  @include media('xl') {
    padding: calc(8px + 2px);
    gap: 26px;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: calc(4px + 2px);
  }

  &__icon {
    color: var(--primary);
    width: 24px;
    height: 16px;

    flex-shrink: 0;
    flex-grow: 0;

    svg {
      width: 24px;
      height: 16px;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    display: none;

    .active & {
      display: block;
    }

    &::placeholder {
      color: var(--light-3);
    }
  }

  &__label {
    cursor: text;
    color: var(--light-3);
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;

    .active & {
      display: none;
    }

    &_first {
      font-size: 12px;
      line-height: 16px;

      @include media('md') {
        font-size: 13px;
      }

      @include media('lg') {
        font-size: 14px;
      }
    }

    &_second {
      display: none;
      line-height: 16px;

      @include media('md') {
        display: block;
        font-size: 10px;
      }

      @include media('lg') {
        font-size: 13px;
      }

      @include media('xl') {
        font-size: 11px;
      }
    }
  }

  &__tags {
    display: none;

    @include media('lg') {
      display: flex;
      flex-wrap: wrap;
      gap: calc(4px + 2px);
    }
  }

  &__tag {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--white);
    padding: 4px 8px;
    white-space: nowrap;
    height: 24px;

    font-family: var(--font-secondary);
    font-size: 14px;
    letter-spacing: calc(14px * -0.02);
    color: var(--secondary);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--primary);
    }
  }
}

.hamburger {
  @include media('lg') {
    display: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    background-color: var(--light);
    padding: 4px 8px;

    font-family: var(--font-primary);
    color: var(--secondary);
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    height: 28px;

    @include media('md') {
      height: 32px;
    }

    &_closed {
      svg {
        width: 16px;
        height: 10px;
      }

      .modal-open & {
        display: none;
      }
    }

    &_opened {
      display: none !important;

      svg {
        width: 10px;
        height: 10px;
      }

      .modal-open & {
        display: flex !important;
      }
    }
  }
}

.mega-menu {
  display: none;
  &.open {
    display: block;
  }

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: var(--white);
  border-radius: 12px;
  padding: 20px;
  @include border(1px, var(--light-2));

  @include media('md') {
    padding: 20px 36px;
  }

  @include media('lg') {
    padding: 26px 16px 44px;
    padding-left: calc(122px + 8px);
  }

  @include media('xl') {
    padding-left: calc(166px + 16px * 2 + 1px);
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 19px;

    @include media('lg') {
      gap: 8px;
      align-items: flex-start;
      flex-direction: row;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @include media('lg') {
      gap: 17px;
    }
  }

  &__category-label {
    padding-left: 12px;
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--primary);
  }

  &__category-items {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include media('md') {
      gap: 8px;
    }
  }

  &__category-item {
  }

  &__category-item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light);
    padding: 12px;
    border-radius: 5.33px;
    color: var(--dark);
    font-weight: 800;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;

    @include media('lg') {
      min-width: 306px;
    }

    @include media('xl') {
      min-width: 346px;
    }

    svg {
      transform: rotate(-90deg);
      width: 16px;
      height: 8px;
    }
  }
}
