@use '../../mixins' as *;
@use '../../variables' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;

  @include media('lg') {
    overflow: visible;
  }

  &.scrolled {
    background-color: var(--white);
  }

  &.transformed {
    transform: translateY(calc(-1 * (var(--logo-wrapper-height) + 16px + 8px)));

    @include media('lg') {
      transform: translateY(0);
    }
  }

  &.modal-open {
    overflow: visible;
  }

  &__container {
  }

  &__wrapper {
    padding: 16px 0 8px;
    padding-right: 0px;

    display: flex;
    align-items: center;
    flex-direction: column;

    @include media('lg') {
      display: grid;
      grid-template-columns: 1fr 11fr;
      align-items: flex-start;
      padding: 16px 0;
      gap: 12px;
    }

    @include media('xl') {
      gap: 16px;
      padding: 24px 0;
    }
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 16px;

    &.scrolled {
      transform: translateY(-200%);

      @include media('lg') {
        transform: translateY(0);
      }
    }

    @include media('lg') {
      margin-bottom: 0;
    }

    span {
      text-transform: uppercase;
      font-size: 11px;

      @include media('lg') {
        font-size: 8px;
        line-height: 10px;
      }

      @include media('xl') {
        line-height: 16px;
        font-size: 11px;
      }
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @include media('lg') {
      width: 96px;
      height: 22px;
    }

    @include media('xl') {
      width: 143px;
      height: 32px;
    }

    svg {
      width: 123px;
      height: 28px;
      margin-bottom: 4px;

      @include media('lg') {
        margin-bottom: 0;
        width: 143px;
        height: 32px;
      }
    }
  }

  &__blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: transform 0.3s ease-in-out;

    @include media('lg') {
      gap: 12px;
      display: grid;
      grid-template-columns: 7fr 4fr;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include media('xl') {
      gap: 16px;
    }
  }

  &__top-block {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 4px;
    padding-right: 4px;

    @include media('md') {
      padding-right: 8px;
    }

    @include media('lg') {
      order: 2;
      padding: 0;
      gap: 8px;
    }

    @include media('lg') {
      gap: 16px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;

    @include media('lg') {
      align-self: flex-start;
    }
  }

  &__action {
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 32px;
      height: 32px;

      @include media('lg') {
        width: 22px;
        height: 22px;
      }

      @include media('xl') {
        width: 38px;
        height: 38px;
      }
    }
  }

  &__bottom-block {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;

    .header-cart & {
      display: none;

      @include media('lg') {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }

  &__info {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;

    @include media('lg') {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media('xl') {
      gap: 8px;
    }
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow-x: auto;
    width: 100%;
    @include hideScrollbar();

    @include media('lg') {
      overflow: hidden;
      overflow: auto;
      gap: 12px;
      padding: 0 8px;
    }

    @include media('xl') {
      padding: 0 20px;
      gap: 24px;
    }

    svg {
      width: 32px;
      height: 32px;
    }

    .modal-open & {
      display: none;
    }
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: transparent;
    white-space: nowrap;
    height: 32px;
    padding: 8px;
    gap: 10px;
    @include border(1px, rgba(0, 0, 0, 0.12));
    font-size: 12px;
    font-weight: 400;

    svg {
      width: 20px;
      height: 20px;

      @include media('xl') {
        width: 22px;
        height: 22px;
      }

      @include media('xl') {
        width: 32px;
        height: 32px;
      }
    }

    @include media('lg') {
      font-size: 12px;
      outline: none;
      padding: 0;
      gap: 8px;
    }

    @include media('xl') {
      font-size: 14px;
      gap: 12px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 4px;

    @include media('xl') {
      gap: 8px;
    }
  }

  &__contact {
    display: none;

    @include media('lg') {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--light);
      padding: 0 10px;
      height: 32px;
    }

    @include media('xl') {
      height: 40px;
    }
  }

  &__contact-icons {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__contact-icon {
    color: var(--primary);

    svg {
      width: 16px;
      height: 16px;

      @include media('xl') {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__input-placeholder {
    height: 100%;
    position: relative;
    width: 100%;

    @include media('lg') {
      height: 32px;
    }

    @include media('xl') {
      height: 40px;
    }
  }

  &__contact-phone {
    font-weight: 900;
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--secondary);
    white-space: nowrap;

    @include media('xl') {
      font-size: 18px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.08);
    height: 32px;
    padding: 4px 16px;

    font-size: 14px;
    text-transform: uppercase;

    @include media('lg') {
      overflow: hidden;
      overflow: auto;
      gap: 12px;
      margin: 0 24px;
    }

    @include media('xl') {
      margin: 0 32px;
      gap: 24px;
    }

    @include media('xl') {
      height: 40px;
    }
  }
}

.header-input {
  flex-grow: 1;

  @include media('md') {
    font-size: 13px;
  }

  @include media('xl') {
    font-size: 14px;
  }
}

.input-header {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(16px);

  @include media('lg') {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  @include media('xl') {
    padding: 8px;
    gap: 26px;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__icon {
    color: black;
    width: 20px;
    height: 20px;

    @include media('xl') {
      width: 24px;
      height: 24px;
    }

    svg {
      width: 20px;
      height: 20px;

      @include media('xl') {
        width: 24px;
        height: 24px;
      }
    }

    flex-shrink: 0;
    flex-grow: 0;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    display: none;
    color: black;
    font-size: 13px;

    .active & {
      display: block;
    }
  }

  &__label {
    cursor: text;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    color: black;

    .active & {
      display: none;
    }

    &_first {
      font-size: 13px;
      line-height: 16px;
      white-space: pre-wrap;

      @include media('lg') {
        font-size: 12px;
      }

      @include media('xl') {
        font-size: 14px;
      }
    }

    &_second {
      display: none;
      line-height: 16px;

      @include media('md') {
        display: block;
        font-size: 10px;
      }

      @include media('lg') {
        font-size: 13px;
      }

      @include media('xl') {
        font-size: 11px;
      }
    }
  }

  &__tags {
    display: none;

    .scrolled & {
      display: none;
    }

    @include media('lg') {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    @include media('xl') {
      gap: 8px;
    }
  }

  &__tag {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 24px;
    padding: 4px 8px;
    @include border(1px, rgba(0, 0, 0, 0.12));

    font-family: var(--font-secondary);
    font-size: 14px;
    letter-spacing: calc(14px * -0.02);
    color: black;

    @include media('lg') {
      font-size: 12px;
      height: 20px;
    }

    @include media('xl') {
      font-size: 14px;
      height: 24px;
    }
  }
}

.hamburger {
  .header-cart & {
    display: none;
  }

  @include media('lg') {
    display: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    color: var(--secondary);
    @include border(1px, rgba(0, 0, 0, 0.12));

    svg {
      width: 16px;
      height: 10px;
    }

    &_closed {
      .modal-open & {
        display: none;
      }
    }

    &_opened {
      display: none !important;

      .modal-open & {
        display: flex !important;
      }
    }
  }
}
