@use '../../mixins' as *;
@use '../../variables' as *;

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 32px;

    font-size: 14px;
    text-transform: uppercase;
    @include border(1px, rgba(0, 0, 0, 0.16));

    @include media('xl') {
      font-size: 14px;
      height: 40px;
    }

    &.number {
      width: 32px;

      @include media('xl') {
        width: 40px;
      }
    }

    &.current {
      @include border(1px, black);
    }
  }
}
