@use '../../mixins' as *;
@use '../../variables' as *;

.detail {
  padding-top: 8px;
  margin-bottom: 40px;

  @include media('md') {
    margin-bottom: 96px;
  }

  @include media('xl') {
    margin-bottom: 128px;
  }

  &__container {
  }

  &__main {
    margin-bottom: 48px;
    overflow: hidden;

    @include media('lg') {
      max-height: calc(100svh - var(--header-height) - 8px);
      display: grid;
      gap: 12px;
      grid-template-columns: 4fr 4fr 4fr;
      margin-bottom: 96px;
    }

    @include media('xl') {
      gap: 16px;
    }
  }

  &__gallery {
    margin-bottom: 12px;

    @include media('lg') {
      grid-column: 1 / span 2;
      margin: 0;
    }
  }

  &__details {
    @include media('lg') {
      display: flex;
      align-items: flex-end;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__catalog-slider-section {
  }

  &__questions {
    @include media('lg') {
      margin-bottom: 32px;
    }
  }
}
