@use '../../mixins' as *;
@use '../../variables' as *;

.details {
  &__wrapper {
    @include media('lg') {
      position: sticky;
      top: var(--header-height);
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__price-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: 12px;
    @include border(1px, var(--light-4));
    padding: 8px 12px;

    margin-bottom: 24px;
  }

  &__price-item {
    padding: 4px 0 8px;

    &:not(:last-child) {
      border-right: 1px solid var(--light-4);
    }

    &:not(:first-child) {
      padding-left: 12px;
    }
  }

  &__dimensions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    margin-bottom: 24px;

    @include media('md') {
      grid-template-columns: repeat(6, 1fr);
    }

    @include media('lg') {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
  }

  &__add-cart {
    margin-bottom: 12px;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: var(--light-2);
    margin-bottom: 12px;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 20px;
    @include border(1px, var(--light-2));

    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary);
  }

  &__cards {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
  }

  &__cards-track {
    overflow: visible !important;
  }

  &__cards-list {
  }

  &__card {
    position: relative;
    padding: 8px 0 6px;
    border-radius: 8px;
    @include border(1px, var(--light-2));

    &.selected {
      @include border(1px, var(--primary));
    }

    &:hover {
      [modal-wrapper] {
        display: block;
      }
    }
  }

  &__card-wrapper {
    width: 100%;
    height: 100%;
  }

  &__card-image {
    position: relative;
    aspect-ratio: 71 / 96;
    width: 100%;
    margin-bottom: 2px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card-text {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--dark);
    padding: 0 2px;

    .selected & {
      color: var(--primary);
    }
  }

  &__card-modal-wrapper {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 8px;
  }

  &__card-modal {
    width: 229px;
    background-color: var(--white);
    border-radius: 8px;
    @include border(1px, var(--light-2));
  }

  &__main-info {
    margin-bottom: 20px;
    padding: 0 12px;
  }

  &__main-info-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark);
    margin-bottom: 8px;
  }

  &__main-info-ul {
    padding-left: 32px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__main-info-ul-item {
    position: relative;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark);

    display: flex;
    align-items: flex-start;
    gap: 8px;

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      margin-top: 0.25em;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--primary);
    }
  }

  &__main-info-description {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark);

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__main-info-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__main-info-item {
    display: flex;
    align-items: flex-end;
    gap: 3px;
  }

  &__main-info-label {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark);
    white-space: nowrap;
  }

  &__main-info-separator {
    width: 100%;
    flex-shrink: 1;
    width: 100%;
    height: 1px;
    background-color: var(--light-2);
  }

  &__description-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 32px;
    padding: 4px 12px;
    border-radius: 12px;
    background-color: var(--light);
    margin-bottom: 38px;
    @include border(1px, var(--light));

    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--secondary);
    transition: color 0.3s ease-in-out;

    svg {
      width: 16px;
      height: 18px;
      transform: translateY(-2px);
    }

    &:hover {
      color: var(--secondary);
    }

    @include media('md') {
      border-radius: 8px;
      font-size: 13px;
      margin-bottom: 48px;
    }

    @include media('xl') {
      margin-bottom: 0;
      font-size: 16px;
      height: 40px;
    }
  }

  &__counter-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__counter-increment,
  &__counter-decrement {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background-color: var(--light);

    font-family: var(--font-secondary);
    font-weight: 900;
    font-style: italic;
    font-size: 38px;
    text-transform: uppercase;
    color: var(--dark);
  }

  &__counter-value {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    outline: 1px solid rgb(#a9987a, 0.4);
    outline-offset: -1px;
    min-width: 85px;

    font-family: var(--font-secondary);
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--dark);
  }

  &__counter-cart {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: var(--primary);
    padding: 8px 12px;

    font-family: var(--font-secondary);
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
  }
}

.price-item {
  &__value {
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;

    span {
      font-size: 24px;
    }
  }

  &__label {
    font-weight: 700;
    font-style: italic;
    font-size: 12px;
    color: var(--primary);
    text-transform: uppercase;
  }
}

.dimension {
  position: relative;
  padding: 6px 12px;
  border-radius: 12px;
  background-color: var(--light);
  height: 48px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &.not-empty {
    outline: 1px solid rgb(#a9987a, 0.4);
    outline-offset: -1px;
  }

  @include media('lg') {
    height: 40px;
  }

  @include media('xl') {
    height: 48px;
  }

  &__value {
    font-weight: 800;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--secondary);

    @include media('lg') {
      font-size: 14px;
    }

    @include media('xl') {
      font-size: 16px;
    }
  }

  &__label {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--primary);

    @include media('lg') {
      font-size: 11px;
    }
  }

  &__badge {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);

    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
  }
}

.sticky-button {
  &.hide {
    display: none;
  }

  @include media('lg') {
    display: none;
  }

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  background-color: var(--white);
  z-index: 10;

  &__container {
  }
}

.add-cart-button {
  font-family: var(--font-primary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--primary);
  height: 64px;
  padding: 4px 6px;

  font-weight: 900;
  font-style: italic;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--white);

  @include media('md') {
    height: 48px;
  }
}
