@use '../../mixins' as *;
@use '../../variables' as *;

.questions {
  &__title {
    text-align: left;
    margin-bottom: 4px;
  }

  &__subtitle {
    text-align: left;
    margin-bottom: 8px;

    @include media('md') {
      margin-bottom: 12px;
    }

    @include media('lg') {
      margin-bottom: 16px;
    }

    @include media('xl') {
      margin-bottom: 20px;
    }
  }

  &__select-wrapper {
    margin-bottom: 8px;

    @include media('md') {
      gap: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include media('lg') {
      gap: 12px;
      margin-bottom: 8px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('xl') {
      gap: 16px;
    }
  }

  &__select {
  }

  &__questions {
  }
}

.select-questions {
  &__trigger {
    width: 100%;
    padding: 4px 12px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.08);

    font-size: 12px;
    text-transform: uppercase;
    color: var(--secondary);

    @include media('md') {
      font-size: 13px;
    }

    @include media('xl') {
      font-size: 14px;
      height: 40px;
    }

    svg {
      width: 8px;
      height: 4px;

      @include media('md') {
        width: 12px;
        height: 6px;
      }
    }
  }
}

.question {
  width: 294px;
  min-width: 294px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.08);

  @include media('md') {
    width: 100%;
    min-width: auto;
  }

  @include media('xl') {
    padding: 16px;
  }

  &__question {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;

    @include media('xl') {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &__answer {
    font-family: var(--font-secondary);
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary);
    margin-bottom: 16px;

    @include media('md') {
      margin-bottom: 24px;
    }

    @include media('xl') {
      margin-bottom: 28px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    gap: 6px;

    font-size: 14px;
    line-height: 16px;

    svg {
      color: black;
      width: 24px;
      height: 24px;
    }
  }

  &__actions-sep {
    margin: 0 4px;
    height: 24px;
    width: 1px;
    background-color: var(--primary);
    opacity: 40%;
  }
}
