include ../../mixins/srp/s-card

-
  const cardData = {
    title: 'Финляндия',
    subtitle: 'Костюм Горка Зима Финл. ПК...',
    description: [
      'Флис, 100%ПЭ, Зима, Нешуршащая, Непромокаемая, Дышащая...',
      'Удобный костюм для охоты, рыбалки и активного отдыха в зимний период года',
    ],
    price1: '13 000',
    price2: '5 200',
  }

+card(cardData)