@use '../../mixins' as *;
@use '../../variables' as *;

.comparison-card {
  &__card {
  }

  &__image {
    position: relative;
    aspect-ratio: 178 / 260;
    width: 100%;
    margin-bottom: 8px;

    @include media('lg') {
      aspect-ratio: 229 / 340;
      margin-bottom: 16px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    @include media('lg') {
      gap: 8px;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    height: 44px;
    padding: 4px 10px;
    border-radius: 8px;
    @include border(1px, rgba(0, 0, 0, 0.12));

    @include media('lg') {
      height: 48px;
      padding: 6px 8px;
    }
  }

  &__list-item-subtitle {
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__list-item-description {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    @include media('lg') {
      font-size: 14px;
    }
  }
}

.card-content {
  &__price-wrapper {
  }

  &__price {
    &_old {
    }

    &_new {
    }
  }

  &__subtitle {
  }
}
