@use '../../mixins' as *;
@use '../../variables' as *;

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border-radius: 8px;
    width: 100%;

    font-weight: 500;
    text-transform: uppercase;

    .sm & {
      padding: 2px 4px;
      height: 12px;
      font-size: 5px;
    }

    .md & {
      font-size: 11px;
      padding: 4px 10px;
      height: 32px;
    }

    &.primary {
      color: #ff6412;
      @include border(1px, #ff6412);
    }

    &.secondary {
      color: var(--white);
      @include border(1px, rgba(255, 255, 255, 0.2));
    }

    @include media('md') {
      .sm & {
        font-size: 8px;
        height: 16px;
      }

      display: inline-flex;
      width: auto;
    }

    @include media('lg') {
      .sm & {
        padding: 2px 6px;
        font-size: 9px;
        height: 24px;
      }

      .md & {
        font-size: 12px;
      }
    }

    @include media('xl') {
      padding: 8px 10px;
      height: 32px;

      &.sm {
        font-size: 12px;
      }
    }

    span {
      .sm & {
        font-size: 6px;
      }

      .md & {
        font-size: 16px;
      }

      line-height: 118%;
      white-space: nowrap;

      @include media('md') {
        .sm & {
          line-height: 108%;
          font-size: 9px;
        }
      }

      @include media('lg') {
        .sm & {
          font-size: 12px;
        }

        .md & {
          font-size: 16px;
        }
      }

      @include media('xl') {
        font-size: 16px;
      }
    }
  }
}
