section.main-banner
  div.main-banner__image
    img(src="@img/i-theme/hero.png" alt="image")
  div.main-banner__description
    div.main-banner__description-inner
      div.main-banner__description-content
        h2.main-banner__title Упаковка 
          br 
          | для ювелирных брендов, 
          br 
          | салонов и бутиков
        div.main-banner__buttons
          a.main-banner__button(href='#') Смотреть каталог
          a.main-banner__button(href='#') Индивидуальный заказ