include ../../mixins/provider

section.hits-section
  div.hits-section__container.container
    div.hits-section__wrapper
      div.hits-section__top
        h2.hits-section__title.title-block Летние Хиты для рыбалки и охоты
        p.hits-section__subtitle.subtitle-block Текст комментария от нейросети для расшифровки
      div.hits-section__slider
        include ../catalog-slider/s-catalog-slider
      div.hits-section__bottom
        include ../catalog-slider/s-catalog-button