section.main-banner
  div.main-banner__image
    img.desktop-image(src="@img/t-theme/home/background.png" alt="image")
    img.mobile-image(src="@img/t-theme/home/background_mobile.png" alt="image")
  div.main-banner__description
    div.main-banner__description-inner
      div.main-banner__description-content
        h2.main-banner__title Упаковка для ювелирных брендов, салонов и бутиков
        div.main-banner__buttons
          a.main-banner__button(href='#') Смотреть каталог
          a.main-banner__button(href='#') Индивидуальный заказ