include ../../mixins/contact/o-accordion

-
  const accordionData = {
    label: 'Бухгалтерия',
    content: {
      address: 'Адрес: г.Москва, Сигнальный проезд 16, строение 20 (продаж нет).',
      phone: '+7 (499) 703-39-03',
      text: '(продаж нет)',
    },
  }

+contactAccordion(accordionData)