include ../../mixins/contact/s-section

-
  const sectionData = {
    title: 'Главный офис',
    accordions: [
      {
        label: 'Бухгалтерия',
        content: {
          address: 'Адрес: г.Москва, Сигнальный проезд 16, строение 20 (продаж нет).',
          phone: '+7 (499) 703-39-03',
          text: '(продаж нет)',
        },
      },
      {
        label: 'Бухгалтерия',
        content: {
          address: 'Адрес: г.Москва, Сигнальный проезд 16, строение 20 (продаж нет).',
          phone: '+7 (499) 703-39-03',
          text: '(продаж нет)',
        },
      },
    ],
  }

+section(sectionData)