include ../../mixins/provider

div.comparison-filters
  button.comparison-filters__button.clear
    span Очистить
    +icon('o-reset')
  button.comparison-filters__button Все параметры
  button.comparison-filters__button Только отличия