div.splide.catalog-slider(data-component='catalog-slider')
  div.splide__track.catalog-slider__track
    ul.splide__list.catalog-slider__list
      - const catalogSlides = Array.from({ length: 8 })
      each slide in catalogSlides
        include ./catalog-slide