extends ./category-block-right

include ../mixins/provider

block left
  -
    const rightImageTags = [
      'одежда для охоты',
      'для рыбалки с берега, на месте',
      'много хожу',
      'рыбалка с лодки или катера',
      'подобрать костюмы',
      'выгодные предложения',
    ]
  div.category-section__left
    div.category-image
      div.category-image__background
        img(src="@img/s-theme/home//categories//category-about.jpg", alt="image")
      include ./background-gradient
      div.category-image__content
        p.category-image__description Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.
          div.category-tags.aboveImage
            each tag in rightImageTags
              a.category-tags__tag(href="#")= tag

block right
  -
    const rightTags = [
      'одежда для охоты',
      'для рыбалки с берега, на месте',
      'много хожу',
      'рыбалка с лодки или катера',
      'подобрать костюмы',
      'выгодные предложения',
    ]
  div.category-section__right.right-category-section
    div.right-category-section__wrapper
      div.right-category-section__top
        h2.title-block Одежда Для Рыбалки
        p.subtitle-block Текст комментария от нейросети для расшифровки
      div.category-section__tags
        div.category-tags
          each tag in rightTags
            a.category-tags__tag(href="#")= tag
      div.right-category-section__slider-wrapper
        div.right-category-section__slider
          include ./category-slider
      include ./catalog-button