section.category-block.right
  div.category-block__container.container
    div.category-block__blocks
      div.category-block__block-left
        block left
      div.category-block__block-right
        block right