-
  const tags = [
    'одежда для охоты',
    'для рыбалки с берега, на месте',
    'много хожу',
    'рыбалка с лодки или катера',
    'подобрать костюмы',
    'выгодные предложения',
  ]

div.category-tags.aboveImage
  each tag in tags
    a.category-tags__tag(href="#")= tag