@use '../../mixins' as *;
@use '../../variables' as *;

.filter-accordion {
  .filter-accordion__trigger {
    background-color: rgba(0, 0, 0, 0.08);
    color: black;
  }
  &.open {
    margin-bottom: 16px;

    .filter-accordion__trigger {
      color: #d10c54;
    }
  }

  &__body {
    display: none;

    .open & {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
    }
  }

  &__icon {
    color: black;

    .open & {
      color: #d10c54;
    }
  }

  &__filter {
    height: 32px;
    padding: 10px 12px;
    border-radius: 8px;
    @include border(1px, rgba(0, 0, 0, 0.12));

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--primary);
    }

    @include media('xl') {
      height: 40px;
      font-size: 16px;
    }
  }
}

.filter-action-button {
  height: 28px;
  padding: 6px 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(6x);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: black;

  span {
    transform: translateY(1px);
  }

  @include media('xl') {
    padding: 10px 12px;
    height: 40px;
    font-size: 16px;
  }

  svg {
    width: 10px;
    height: 10px;
    color: var(--secondary);

    @include media('lg') {
      width: 12px;
      height: 12px;
    }
  }
}

.filters-modal {
  &__trigger {
    font-family: var(--font-primary);
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: transparent;
    border-radius: 8px;
    @include border(1px, var(--light-2));

    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--secondary);
    height: 32px;

    @include media('md') {
      font-size: 13px;
    }

    @include media('xl') {
      font-size: 16px;
      height: 40px;
    }

    svg {
      color: var(--primary);
      width: 18px;
      height: 18px;
    }
  }

  &__container {
    @include media('lg') {
      padding: 0;

      .opened & {
        position: sticky;
        top: var(--header-height);
      }
    }
  }

  &__body {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    z-index: 100;

    @include media('lg') {
      width: var(--inventory-header-width);
      background: transparent;
      z-index: 10;
    }

    &.opened {
      display: block;
      position: absolute;
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__top {
    @include media('lg') {
      width: 100%;
      padding: 12px 12px 24px;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--white);
      max-height: calc(100vh - var(--header-height) - var(--modal-footer-height) - 40px);
      @include border(1px, var(--light-2));
      overflow: auto;
      margin-bottom: 8px;
    }

    @include media('xl') {
      padding: 16px 16px 32px;
    }
  }

  &__header {
  }

  &__content {
    margin-top: calc(40px + var(--modal-header-height));
    margin-bottom: calc(64px + var(--modal-footer-height));

    @include media('lg') {
      margin: 32px 0 0;
    }

    @include media('xl') {
      margin: 48px 0 0;
    }
  }

  &__footer {
  }
}

.modal-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 8px;
  width: 100%;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media('lg') {
    position: static;
    padding: 0;
  }

  &__title {
    font-weight: 800;
    font-size: 16px;
    color: black;
    text-transform: uppercase;

    @include media('xl') {
      font-size: 24px;
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media('xl') {
    gap: 16px;
  }
}

.modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(12px);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 8px 0;

  @include media('lg') {
    position: static;
    border-radius: 12px;
    padding: 12px 0;
  }

  @include media('xl') {
    padding: 16px 0;
  }

  &__container {
    @include media('lg') {
      padding: 0 12px;
    }

    @include media('xl') {
      padding: 0 16px;
    }
  }

  &__selected-filters {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 8px;

    @include media('lg') {
      gap: 8px;
      margin-bottom: 12px;
    }

    @include media('xl') {
      margin-bottom: 16px;
    }
  }

  &__selected-filter {
    height: 32px;
    border-radius: 8px;
    background-color: var(--white);
    padding: 8px 12px;
    @include border(1px, var(--light-2));

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    transition: color 0.3s ease-in-out;

    svg {
      width: 10px;
      height: 10px;
      color: black;
    }

    &:hover {
      color: var(--primary);
    }

    @include media('xl') {
      height: 40px;
      font-size: 16px;
    }
  }

  &__submit {
    width: 100%;
    border-radius: 64px;
    height: 48px;
    padding: 10px 12px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
  }
}

.filters-select {
  height: 32px;

  @include media('lg') {
    height: 40px;
  }

  &__trigger {
  }

  &__trigger-text {
  }

  &__drawer {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    &.opened {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background-color: var(--white);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      padding: 12px;
      transform: translateY(0);
    }

    @include media('md') {
      display: none;
    }
  }
}

.filters-select-drawer {
  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 2px 8px;
    height: 28px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px);

    color: black;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;

    svg {
      width: 9px;
      height: 8px;
      transform: translateY(-1px);
    }
  }

  &__content {
    padding: 0 4px 24px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-bottom: 13px;

    span {
      color: #d10c54;
    }
  }

  &__label {
    padding: 4px 0 4px 32px;
    font-family: var(--font-secondary);
    font-style: italic;
    font-size: 12px;
    text-transform: lowercase;
    color: black;

    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item-radio {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: transparent;
    @include border(1px, rgba(0, 0, 0, 0.12));

    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      background-color: #d10c54;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      display: none;
    }

    .active & {
      @include border(1px, #d10c54);

      &::before {
        display: block;
      }
    }
  }
}
