@use '../../mixins' as *;
@use '../../variables' as *;

.inventory {
  padding: 12px 0 40px;

  @include media('md') {
    padding: 14px 0 96px;
  }

  @include media('lg') {
    padding: 46px 0 128px;
  }

  &__container {
  }

  &__grid {
    display: flex;
    flex-direction: column;
    column-gap: 4px;
    row-gap: 8px;

    @include media('md') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('lg') {
      overflow: visible;
      position: relative;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
      row-gap: 10px;
    }
  }

  &__row {
  }

  &__breadcrumbs {
  }

  &__header {
    position: relative;
    overflow: hidden;
    grid-column: 1 / span 2;

    @include media('lg') {
      position: static;
      overflow: auto;
      grid-column: 1 / span 1;
    }
  }

  &__title {
    @include media('lg') {
      margin-bottom: 8px;
    }
  }

  &__description {
    margin-bottom: 16px;

    @include media('lg') {
      margin-bottom: 34px;
    }
  }

  &__filters {
    margin-bottom: 16px;

    @include media('md') {
      grid-column: 1 / span 2;
      margin-bottom: 4px;
    }

    @include media('lg') {
      grid-column: 1 / span 1;
      margin-bottom: 4px;
    }
  }

  &__cards-bottom {
  }

  &__card-list {
  }

  &__slider-section {
    grid-column: 1 / span 2;

    &:not(:last-child) {
      margin-top: 26px;
      margin-bottom: 32px;

      @include media('md') {
        margin-bottom: 64px;
      }

      @include media('md') {
        margin-top: 48px;
      }
    }

    @include media('lg') {
      grid-column: 1 / span 4;
    }
  }

  &__pagination {
    grid-column: 1 / span 2;
    padding: 8px 0;
    margin-bottom: 42px;

    @include media('md') {
      margin-bottom: 48px;
    }

    @include media('lg') {
      grid-column: 1 / span 4;
    }

    @include media('xl') {
      margin-bottom: 52px;
    }
  }
}
