@use '../../mixins' as *;
@use '../../variables' as *;

.card {
  display: grid;
  grid-template-columns: 54% 1fr;

  &__image {
    position: relative;
    aspect-ratio: 192 / 224;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
  }

  &__title {
    font-weight: 800;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--primary);
  }

  &__subtitle {
    font-weight: 800;
    font-style: italic;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--secondary);
    @include leading(1);
    margin-bottom: 6px;
  }

  &__description-wrapper {
    margin-bottom: 14px;
  }

  &__description {
    position: relative;
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--secondary);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__description-icon {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--light);

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 6px;
      height: 4px;
    }
  }

  &__price-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
  }
}
