mixin cart(cart)
  div.cart-item
    div.cart-item__image
      img(src="@img/o-theme/catalog-slide.png" alt="image")
    div.cart-item__content
      div.cart-item__content-top
        h3.cart-item__name= cart.name
        div.cart-item__price-info.price-info
          if cart.oldPrice
            span.price-info__old-price= cart.oldPrice
              | РУБ
          span.price-info__new-price
            = cart.newPrice
            | 
            | РУБ
          span.price-info__count X 9
          span.price-info__discount
            span скидка:
            span 500 руб
          div.price-info__total-price
            span итого:
            = cart.totalPrice
            | руб
      div.cart-item__dimensions
        each dimension, idx in [0, 1, 2, 3, 4]
          div.cart-item__dimension.dimension-cart
            div.dimension-cart__row
              div.dimension-cart__label(class=(idx !== 0) ? 'invisible' : '') Размер:
              button.dimension-cart__select
                span 36
                +icon('s-arrow-down')
              div.dimension-cart__actions-wrapper
                button.dimension-cart__action -
                div.dimension-cart__field 5
                button.dimension-cart__action +
      div.cart-item__actions
        button.cart-item__add-dimension Добавить размер
        button.cart-item__delete.cart-item__delete_mobile Убрать
    button.cart-item__delete.cart-item__delete_desktop Убрать