@use '../../mixins' as *;
@use '../../variables' as *;

.search-brands {
  &__top {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;

    @include media('lg') {
      display: grid;
      grid-template-columns: 15fr 1fr;
      gap: 8px;
      margin-bottom: 8px;
    }
  }

  &__input {
    flex-grow: 1;
  }

  &__submit-button {
    height: 32px;
    border-radius: 8px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;

    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    @include media('lg') {
      font-size: 16px;
      height: 40px;
    }
  }

  &__symbols {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
  }

  &__symbol {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 8px;
    @include border(1px, rgba(0, 0, 0, 0.12));

    @include media('lg') {
      height: 40px;
      width: 40px;
      font-size: 16px;
    }
  }
}

.input-search-brand {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.08);
  height: 32px;

  @include media('lg') {
    height: 40px;
  }

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding-left: 4px;

    @include media('lg') {
      padding-left: 8px;
    }
  }

  &__input {
    flex-grow: 1;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-family: var(--font-secondary);
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    line-height: 16px;
    padding: 0 6px;

    @include media('lg') {
      padding: 0 4px;
    }
  }
}
