include ../../../mixins/category/t-category-section

+categorySection('left', 'Собственное производство ', 'Собственное производство — наша главная сила. Мы не перекупаем, а производим упаковку сами: это значит, что вы получаете стабильное качество, оперативное выполнение тиражей и возможность доработки под ваш бренд.', ['a', 'b', 'c'])