section.category-about
  div.category-about__image
    img(src="@img/t-theme/home/about-background.svg" alt="alt")
    include ../../radial-gradient
  div.category-about__content-wrapper.container
    div.category-about__placeholder
    div.category-about__content
      h2.category-about__title
        span «ИСТОК-ТЕКС»
        |
        | — СОВРЕМЕННЫЙ РОССИЙСКИЙ ПРОИЗВОДИТЕЛЬ
      div.category-about__text-wrapper
        p 
          | Уже более 15 лет наша компания занимается разработкой и производством качественной и функциональной спецодежды, рассчитанной на суровые российские условия. Мы создаём удобную, прочную и износостойкую одежду для охранных структур, инженерно-технических специалистов и рабочих, ежедневно сталкивающихся с высокими нагрузками и сложным климатом. Каждое изделие разрабатывается с учётом реальных условий эксплуатации: продуманный крой, усиленные швы, современные материалы и технологии обеспечивают надёжную защиту, комфорт и долговечность. Особое внимание мы уделяем практичности и точному соответствию задачам, которые стоят перед человеком на производстве или в полевых условиях. Одежда под маркой «VOGAK» заслужила доверие клиентов по всей стране и успешно применяется в самых разных отраслях.
          | Помимо рабочей одежды, важное направление нашей работы — это многофункциональная одежда для охоты, рыбалки, туризма и активного отдыха. 
        p
          | Мы предлагаем продуманные решения для всех сезонов: от утеплённых костюмов и непромокаемых курток до лёгких моделей для лета. 
          | «VOGAK» — это надёжная защита от мороза, ветра и влаги зимой и межсезонье, а также комфорт и стиль в тёплое время года. В летние коллекции входят изделия из натурального хлопка и мягкого трикотажа, которые подойдут и для похода, и для повседневной носки в городе. Мы следим за тенденциями, но не жертвуем функциональностью: дизайн остаётся современным, но главным всегда остаются качество, долговечность и удобство. Наши клиенты ценят возможность чувствовать себя уверенно в любой обстановке — будь то природа, производственная площадка или городской ландшафт. Мы постоянно обновляем ассортимент, внедряем новые технологии, учитываем обратную связь и делаем всё, чтобы одежда «VOGAK» соответствовала ожиданиям активных, требовательных людей, которым важно, чтобы одежда не подводила.
      div.category-about__buttons
        a.category-about__button.active(href='#') О компании
        a.category-about__button(href='#') Гладкокрашенный
        a.category-about__button(href='#') Гладкокрашенный