section.category-section.normal.category-block
  div.category-block__container.container
    div.category-block__blocks
      div.category-section__left.category-block__block-left
        div.category-image.normal
          div.category-image__background
            img(src="@img/o-theme/catalog-slide.png", alt="image")
          div.category-image__content
            p.category-image__description= description
            div.category-tags.aboveImage
              each tag in ['одежда для охоты', 'для рыбалки с берега, на месте', 'ВЫгодные предложения', 'рыбалка с лодки или катера', 'подобрать костюмы', 'много хожу']
                a.category-tags__tag(href='#')= tag
      div.category-section__right.right-category-section.category-block__block-right
        div.right-category-section__wrapper
          div.right-category-section__top
            h2.right-category-section__title Мужская Обувь
            p.right-category-section__subtitle
              | Текст комментария от нейросети для расшифровки
              br
              | Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.
          div.category-section__tags.category-tags.notAboveImage
            each tag in ['одежда для охоты', 'для рыбалки с берега, на месте', 'ВЫгодные предложения', 'рыбалка с лодки или катера', 'подобрать костюмы', 'много хожу']
              a.category-tags__tag(href='#')= tag