-
  const content = {
    title: 'Ювелирная упаковка на TIGON.RU',
    paragraphes: [
      {
        padding: false,
        content: 'Основная черта компании "ТИГОН Трейдинг" - разработка, производство и поставка упаковки по индивидуальным размерам и чертежам заказчика. Также мы предлагаем возможность нанесения логотипа компании-заказчика на поверхность ювелирной упаковки, что, несомненно, делает особенным каждого нашего Клиента. Деятельность нашей компании построена на производстве и реализации полного спектра ювелирной и подарочной упаковки, соответствующей всем мировым стандартам качества.'
      },
      {
        padding: true,
        content: 'Упаковка для ювелирных изделий и украшений – это наш бизнес и наш конек. За несколько лет работы мы приобрели немалый опыт в этой области и отлично знаем что такое настоящая ювелирная упаковка.'
      },
      {
        padding: true,
        content: 'Наша продукция направлена в первую очередь на специализированную аудиторию, – это ювелирные салоны, магазины, предоставляющие изделия из золота, серебра и других драгоценных металлов и камней. Компания «ТИГОН Трейдинг» также занимается корпоративным обслуживанием, когда вручаются или дарятся знаки отличия, ордена или просто приятные памятные подарки.'
      },
      {
        padding: true,
        content: 'Большой ассортимент упаковочной продукции мы можем предложить часовым и антикварным салонам, а также любителям нумизматики и коллекционерам медалей и орденов. Решаем нестандартные задачи по изготовлению ложемента под Ваше изделие, по Вашим пожеланиям и в кратчайшие сроки.'
      },
      {
        padding: false,
        content: 'Особенностью компании является то, что нами представлен огромный выбор боксов, футляров, мешочков, изготовленных из различных материалов, в разнообразной цветовой гамме, и ориентированных в ценовой политике от недорогих и лаконичных моделей до эксклюзивных моделей премиум класса.'
      },
      {
        padding: true,
        content: 'Мы надеемся, что любой желающий найдет, выберет и приобретет наиболее понравившийся экземпляр упаковки.'
      }
    ]
  }

section.category-about
  include ../../radial-gradient
  div.category-about__image
    img.desktop-image(src="@img/t-theme/home/about-background.png" alt="alt")
    img.mobile-image(src="@img/t-theme/home/about-background_mobile.png" alt="alt")
  div.category-about__content-wrapper.container
    div.category-about__placeholder
    div.category-about__content
      h2.category-about__title= content.title
      div.category-about__text-wrapper
        each paragraph in content.paragraphes
          p.category-about__text(class=paragraph.padding ? 'padding' : '')= paragraph.content
      div.category-about__buttons
        a.category-about__button(href='#') О компании
        a.category-about__button(href='#') ИНдвидуальный заказ
        a.category-about__button(href='#') ОКонтакты