extends ../../layouts/themes/t-layout

block styles
  link(rel="stylesheet" href="../../styles/themes/t-theme.css")
  link(rel="stylesheet" href="../../styles/themes/t-typography.css")
  link(rel="stylesheet" href="../../styles/components/header/t-header.css")
  link(rel="stylesheet" href="../../styles/components/footer/t-footer.css")
  link(rel="stylesheet" href="../../styles/components/catalog-slider/t-catalog-slider.css")
  link(rel="stylesheet" href="../../styles/components/breadcrumbs/t-breadcrumbs.css")
  link(rel="stylesheet" href="../../styles/components/detail/t-page.css")
  link(rel="stylesheet" href="../../styles/components/detail/t-details.css")
  link(rel="stylesheet" href="../../styles/components/detail/t-gallery.css")
  link(rel="stylesheet" href="../../styles/components/detail/t-questions.css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css")

block scripts
  script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js")
  script(src="../../scripts/modules/catalogSlider.js")
  script(src="../../scripts/modules/details.js")

block main
  div.detail
    div.detail__container.container
      div.detail__main
        include ../../components/detail/t-gallery
        include ../../components/detail/t-details
      div.detail__bottom
        include ../../components/catalog-slider/t-catalog-slider-section
        include ../../components/catalog-slider/t-catalog-slider-section
        include ../../components/catalog-slider/t-catalog-slider-section
        include ../../components/detail/t-questions
        include ../../components/catalog-slider/t-catalog-slider-section_sm
