extends ../../layouts/themes/o-layout

include ../../mixins/provider

block styles
  link(rel="stylesheet" href="../../styles/themes/o-theme.css")
  link(rel="stylesheet" href="../../styles/themes/o-typography.css")
  link(rel="stylesheet" href="../../styles/components/header/o-header.css")
  link(rel="stylesheet" href="../../styles/components/header-modal/o-header-modal.css")
  link(rel="stylesheet" href="../../styles/components/footer/o-footer.css")
  link(rel="stylesheet" href="../../styles/components/breadcrumbs/o-breadcrumbs.css")
  link(rel="stylesheet" href="../../styles/components/brands/o-brands-list.css")
  link(rel="stylesheet" href="../../styles/components/brands/o-search.css")
  link(rel="stylesheet" href="../../styles/components/brands/o-page.css")

block main
  - const path = ['Магазин обуви', 'производители'];
  div.brands
    div.brands__container.container
      div.brands__wrapper
        div.brands__top
          +breadcrumbs(path)
          h1.brands__title.page-title Производители
        div.brands__search
          include ../../components/brands/o-search
        include ../../components/brands/o-brands-list
