include ../mixins/provider

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document

    link(rel="stylesheet" href="../../styles/fonts.css")

    link(rel="stylesheet" href="../../styles/base/reset.css")

    link(rel="stylesheet" href="../../styles/tokens/tokens-core.css")

    link(rel="stylesheet" href="../../styles/base/core.css")
    link(rel="stylesheet" href="../../styles/base/utilities.css")
    link(rel="stylesheet" href="../../styles/base/components.css")

    block styles
  body
    block content
    div.backdrop
    div#select-drawers-container

    include ../components/sprites/displaySprite.pug

    script(src="../../scripts/core/utils.js")
    script(src="../../scripts/modules/accordion.js")
    script(src="../../scripts/modules/slider.js")
    script(src="../../scripts/modules/footer.js")
    script(src="../../scripts/modules/header.js")

    block scripts