include ../../../mixins/provider

section.hits-section
  div.hits-section__container.container
    div.hits-section__wrapper
      include ../../../components/catalog-slider-section
      div.hits-section__bottom