@use '../../mixins' as *;
@use '../../variables' as *;

.header-modal {
  display: none;
  max-width: 100vw;
  overflow-y: hidden;

  &.modal-open {
    display: block;
    position: absolute;
    z-index: 10;
    top: calc(var(--header-height) + 4px);
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 0 8px;

    @include media('lg') {
      display: none;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    margin-bottom: 40px;
  }

  &__product {
    display: flex;
    flex-direction: column;
    padding: 4px 16px 12px;
    border-radius: 8px;
    @include border(1px, rgba(0, 0, 0, 0.12));
  }

  &__product-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 24px 12px;
    aspect-ratio: 98 / 76;
    margin-bottom: 8px;
  }

  &__product-image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__product-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-align: center;

    margin-bottom: 2px;
  }

  &__product-subtitle {
    font-family: var(--font-secondary);
    font-size: 10px;
    line-height: 12px;
    color: black;

    text-align: center;
  }
}
