@use '../mixins' as *;

.title-block {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary);

  @include media('md') {
    font-size: 20px;
  }

  @include media('lg') {
    text-align: center;
  }

  @include media('xl') {
    font-size: 32px;
  }
}

.subtitle-block {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--primary);

  @include media('md') {
    font-size: 14px;
    line-height: 16px;
  }

  @include media('lg') {
    text-align: center;
  }
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 4px;

  @include media('lg') {
    font-size: 32px;
  }

  @include media('xl') {
    font-size: 40px;
    line-height: 100%;
  }
}

.page-description {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);

  @include media('lg') {
    font-size: 14px;
  }
}

