@use '../mixins' as *;

.title-block {
  font-size: 20px;
  text-transform: uppercase;

  @include media('lg') {
    text-align: center;
    font-size: 24px;
  }
}

.subtitle-block {
  font-family: var(--font-secondary);
  font-size: 12px;

  @include media('lg') {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

.page-title {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 9px;
  margin-bottom: 7px;
  border-bottom: 1px solid black;

  @include media('lg') {
    font-size: 22px;
  }
}

.page-description {
  font-size: 13px;

  @include media('lg') {
    font-size: 14px;
  }
}
