@use '../mixins' as *;

.title-block {
  font-weight: 800;
  font-size: calc(var(--text-size-sm) + 2px);
  text-transform: uppercase;
  color: var(--secondary);

  @include media('md') {
    font-size: var(--text-size-md);
  }

  @include media('lg') {
    text-align: center;
  }

  @include media('xl') {
    font-size: var(--text-size-xl);
  }
}

.subtitle-block {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: calc(var(--text-size-xs) + 1px);
  line-height: var(--text-size-sm);
  color: var(--primary);

  @include media('md') {
    font-size: calc(var(--text-size-xs) + 2px);
    line-height: var(--text-size-sm);
  }

  @include media('lg') {
    text-align: center;
  }
}

.page-title {
  font-weight: 900;
  font-size: var(--text-size-lg);
  line-height: calc(var(--text-size-lg) + 4px);
  font-style: italic;
  text-transform: uppercase;
  color: var(--secondary);
  margin-bottom: var(--space-sm);

  @include media('lg') {
    font-size: var(--text-size-xl);
  }

  @include media('xl') {
    font-size: calc(var(--text-size-xl) + 16px);
    line-height: calc(var(--text-size-xl) + 8px);
  }
}
